.ptnav{
  padding-top: 56px;
}

.selw{
  max-width: 300px;
}

.active{
  text-decoration: none;
  color: tomato;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.inactive{
  text-decoration: none;
  color: gainsboro;
  margin-left: 5px;
  margin-right: 5px;
}

.active:hover{
color:gray;
}

.inactive:hover{
  color:gray;
}

.poke{
  border: solid 1px lightcoral;
  border-radius: 6px;
}

.pokeImg{
  height: 200px;
}